<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
  <title>Discover New Spots</title>
  {% endblock %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <img src="uncommon_logo.png"> -->
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
    <!-- link to homepage -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Home</a></li> -->
        <li><a href="{% url 'discover' %}">Home</a></li>
        <li><a href="{% url 'locations' %}"><span class="glyphicon glyphicon-globe"></span>Discover</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>Add Uncommon Place</a></li>
        <li><a href="{% url 'profiles' %}"><span class="glyphicon glyphicon-eye-open"></span>Find Uncommon Friends</a></li>
        <li><a href="{% url 'about' %}"><span class="glyphicon glyphicon-blackboard"></span>About</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span>{{ user.get_username }}</a></li>
          <li><a href="{% url 'logout'%}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {% else %}
          <li><a href="{% url 'addUser' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% block content %}{% endblock %}


<footer class="container-fluid text-center">
  <p>Find Your Uncommon Grounds!</p>
</footer>

</body>
</html>
