

{% extends "base_generic.html" %}

<!--<html lang="en">-->
<!--<head>-->
  <!--<title>Uncommon Grounds Homepage</title>-->
  <!--<meta charset="utf-8">-->
  <!--&lt;!&ndash;<meta name="viewport" content="width=device-width, initial-scale=1">&ndash;&gt;-->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<link href="homepage-css.css" type="text/css" rel="stylesheet">-->
  <!--&lt;!&ndash;<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>&ndash;&gt;-->
  <!--&lt;!&ndash;<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>&ndash;&gt;-->
<!--</head>-->
<!--<body>-->

<!--<nav class="navbar navbar-inverse">-->
  <!--<div class="container-fluid">-->
    <!--<div class="navbar-header">-->
      <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a class="navbar-brand" href="#"><img src="images/uncommon-test3.png" id="site-logo" alt="Uncommon Grounds logo"></a> &lt;!&ndash; link to homepage &ndash;&gt;-->
    <!--</div>-->
    <!--<div class="collapse navbar-collapse" id="myNavbar">-->
      <!--<ul class="nav navbar-nav">-->
  <!--&lt;!&ndash;       <li class="active"><a href="#">Home</a></li> &ndash;&gt;-->
        <!--<li><a href="#"><span class="glyphicon glyphicon-leaf"></span>Profile</a></li>-->
        <!--<li><a href="#"><span class="glyphicon glyphicon-pencil"></span>Add a Spot</a></li>-->
        <!--<li><a href="#"><span class="glyphicon glyphicon-globe"></span>Discover New Spots</a></li>-->
        <!--<li><a href="#"><span class="glyphicon glyphicon-eye-open"></span>Look at a Spot</a></li>-->
        <!--<li><a href="#"><span class="glyphicon glyphicon-blackboard"></span>About</a></li>-->
      <!--</ul>-->
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
        <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->

{% block content %}

        <p>SO HOMEY!</p>
            <div id="tfheader">
                <form id="tfnewsearch" method="get" action="http://www.google.com">
                        <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
                </form>
            <div class="tfclear"></div>
            </div>

        <div class="container">
            <!--<br>-->

            <div class="row">
                <div class="col-sm-6">
                    <h1 class="img-title"><a href="{{location_list.1.get_absolute_url}}">{{location_list.1.name}}</a></h1>
                    <div>
                        <div style="display: inline"><img src="{{location_list.1.image}}"  style="width:50%" alt="Image"></div>
                        <div style="display: inline-block"><p style="width:100%" >{{location_list.1.ratings}}</p></div>
                    </div>
                    <p class="img-text">{{location_list.1.description}}</p>
                </div>
                <div class="col-sm-6" class="img-text">
                    <h1 class="img-title"><a href="{{location_list.2.get_absolute_url}}">{{location_list.2.name}}</a></h1>
                    <div>
                        <div style="display: inline"><img src="{{location_list.2.image}}"  style="width:50%" alt="Image"></div>
                        <div style="display: inline-block"><p style="width:100%: 1px solid #888888" >{{location_list.2.ratings}}</p></div>
                    </div>
                    <p class="img-text">{{location_list.2.description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" class="img-text">
                    <h1 class="img-title"><a href="{{location_list.3.get_absolute_url}}">{{location_list.3.name}}</a></h1>
                    <div>
                        <div style="display: inline"><img src="{{location_list.3.image}}"  style="width:50%" alt="Image"></div>
                        <div style="display: inline-block"><p style="width:100%" >{{location_list.3.ratings}}</p></div>
                    </div>
                    <p class="img-text">{{location_list.3.description}}</p>
                </div>
                <div class="col-sm-6" class="img-text">
                    <h1 class="img-title"><a href="{{location_list.4.get_absolute_url}}">{{location_list.4.name}}</a></h1>
                    <div>
                        <div style="display: inline"><img src="{{location_list.4.image}}"  style="width:50%" alt="Image"></div>
                        <div style="display: inline-block"><p style="width:100%" >{{location_list.4.ratings}}</p></div>
                    </div>
                    <p class="img-text">{{location_list.3.description}}</p>
                </div>
            </div>
        </div>

{% endblock %}
